<head>
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

<h1 id="showname">List of Users</h1>

<ul></ul>
    <% @users.each do |person| %>
        <li><%= link_to person.name, user_path(person) %></li>
    <% end %>
</ul>
<br>
<button><%= link_to "Recipes", recipes_path %></button>
<button><%= link_to "Ingredients", ingredients_path %></button>